{% extends 'base.html.twig' %}

{% block title %}Tank index{% endblock %}

{% block body %}
    {% if user is not null %}
		{% set current_user = user.name ~ '.' ~ user.surname %}
        <p class="utilisateur">{{ current_user }}</p>
    {% endif %}
    <h1>List of Tanks</h1>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tank in tanks %}
                <tr>
                    <td>{{ tank.id }}</td>
                    <td>{{ tank.name }}</td>
                    <td>
                        <a href="{{ path('app_tank_show', {'id': tank.id}) }}" class="btn btn-show">Show</a>
                        {% if current_user == tank.getCreatedBy() or is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_tank_edit', {'id': tank.id}) }}" class="btn btn-edit">Edit</a>
						{% endif %}
					</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_tank_new') }}" class="btn btn-new">Create New</a>
{% endblock %}
