<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

    	{% block javascripts %}
        	{% block importmap %}{{ importmap('app') }}{% endblock %}
			<script src="{{ asset('app.js') }}"></script>
    	{% endblock %}
    </head>
    <body>
        <header>
            <div class="header-content">
                <div class="baniere-content">
                    <img src={{ asset('images/baniere_header.jpg') }}>
                    <h1>TANK TALES</h1>
                </div>
                <div class="nav-section">
                    <a href={{ path('home') }}>page home</a> |
                    <a href={{ path('app_register') }}>page register</a> |
                    <a href={{ path('app_login') }}>page login</a>
					{% if user is not null %}
						|
                    	<a href={{ path('app_tank_index') }}>page tank</a> |
                    	<a href={{ path('app_skill_index') }}>page skill</a> |
                    	<a href={{ path('app_strategy_index') }}>page strategy</a> |
                    	<a href={{ path('app_tank_skill_index') }}>page tank-skill</a> |
                    	<a href={{ path('app_skill_strategy_index') }}>page skill-strategy</a>
					{% endif %}
                </div>
            </div>
        </header>

        <main>
            <article>
			    <div class="article-size">
                	{% block body %}{% endblock %}
				</div>
            </article>
        </main>

        <footer>
			<p>Made by Alexis BILLEMONT</p>
		</footer>
    </body>
</html>
