{% extends 'base.html.twig' %}

{% block title %}TankSkill index{% endblock %}

{% block body %}
    <h1>TankSkill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tank_skill in tank_skills %}
            <tr>
                <td>{{ tank_skill.id }}</td>
                <td>{{ tank_skill.value }}</td>
                <td>
                    <a href="{{ path('app_tank_skill_show', {'id': tank_skill.id}) }}">show</a>
                    <a href="{{ path('app_tank_skill_edit', {'id': tank_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tank_skill_new') }}">Create new</a>
{% endblock %}
