{% extends 'base.html.twig' %}

{% block title %}Strategy index{% endblock %}

{% block body %}
    {% if user is not null %}
        <p class="utilisateur">{{ user.name ~ '.' ~ user.surname }}</p>
    {% endif %}
    <h1>Strategy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for strategy in strategies %}
            <tr>
                <td>{{ strategy.id }}</td>
                <td>{{ strategy.name }}</td>
                <td>
                    <a href="{{ path('app_strategy_show', {'id': strategy.id}) }}">show</a>
                    <a href="{{ path('app_strategy_edit', {'id': strategy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_strategy_new') }}">Create new</a>
{% endblock %}
